#about {
    border: 3px solid rgb(12, 67, 129);
    background-color: rgb(202, 200, 87);
  }

#Profile {
    border: 3px solid rgb(12, 67, 129);
    background-color: rgb(202, 200, 87);
  }

body {
    background-color: rgb(53, 53, 53);
  }

#firstline {
  background-color: rgb(202, 200, 87);
  border: 3px solid rgb(12, 67, 129);
}


#copy {
  display: inline-block;
  background-color: rgb(202, 200, 87);
  border: 3px solid rgb(12, 67, 129);
  text-align: left;
}


.badge {
  display: inline-flex;
  float:right;
  color:black;
 }


 .btn-primary{
  background-color: rgb(238, 134, 50);
  color:black;
  border: 1.5px solid rgb(12, 67, 129);
 }