#title{
    border: 3px solid rgb(12, 67, 129);
    background-color: rgb(202, 200, 87);
    text-align: center;

}


body{
    background-color: rgb(53, 53, 53);
}



#statschart{
    Color: white;
}


.badge{
    display: inline-flex;
    float:right;
    color:black;
}



#backhome{
    float: center;
}