#title{
    text-align: center;
    border: 1.5px solid rgb(12, 67, 129);
    background-color: rgb(202, 200, 87);
}

body{
    background-color: rgb(53, 53, 53);
}


.table{
    color: rgb(252, 196, 13);
}